<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>张辉</string>
	<string>刘聪</string>
	<string>郝火燕</string>
	<string>白大闯</string>
	<string>贲树国</string>
	<string>冯大海</string>
</array>
</plist>
